/buildEcl
/build
/gen
/dist
/doc/api
/bench/results
/.depend_cache
/src/aprove/InputModules/Generated
/.idea
.*.swp
.swp
CVS
.checkstyle
GlobalSettings.java
.externalToolBuilders
.metadata
*.dot
*.iml
/witness-to-validate.graphml
/hs_err_pid21965.log
/cWitness.txt
/llvmWitness.txt
/ruleTree.dot
**/.DS_Store
